<!doctype html>
<!-- 
* Smart Timesheet Preview 
* Email: official.smarttimesheet@gmail.com
* Version: 3.0
* License: The MIT License
* Author: Brian Luna
* Copyright 2018 Brian Luna
* Website: https://github.com/brianluna/smarttimesheet
-->
<html lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="viewport" content="width=device-width" />

    <title>Smart Timesheet</title>
    <link rel="stylesheet" type="text/css" href="../../assets/vendor/bootstrap/css/bootstrap.min.v4.1.3.css">
    <link rel="stylesheet" type="text/css" href="../../assets/vendor/semantic-ui/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="../../assets/js/html5shiv.js></script>
            <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->

    <!-- @yield('styles') -->
</head>

<body>

    <div class="wrapper">

        <nav id="sidebar" class="active">
            <div class="sidebar-header bg-lightblue">
                <div class="logo">
                    <a href="" class="simple-text">
                        <img src="../../assets/images/img/logo-small.png">
                    </a>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li class="">
                    <a href="../../dashboard.html">
                        <i class="ui icon sliders horizontal"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="">
                    <a href="../../employees.html">
                        <i class="ui icon users"></i>
                        <p>Employees</p>
                    </a>
                </li>

                <li class="">
                    <a href="../../attendance.html">
                        <i class="ui icon clock outline"></i>
                        <p>Attendance</p>
                    </a>
                </li>

                <li class="">
                    <a href="../../schedules.html">
                        <i class="ui icon calendar alternate outline"></i>
                        <p>Schedules</p>
                    </a>
                </li>

                <li class="">
                    <a href="../../leaves.html">
                        <i class="ui icon calendar plus outline"></i>
                        <p>Leaves</p>
                    </a>
                </li>
                <li class="">
                    <a href="../../reports.html">
                        <i class="ui icon chart bar outline"></i>
                        <p>Reports</p>
                    </a>
                </li>
                <li>
                    <a href="../../users.html">
                        <i class="ui icon user circle outline"></i>
                        <p>Users</p>
                    </a>
                </li>
                <li>
                    <a href="../../settings.html">
                        <i class="ui icon cog"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </nav>

        <div id="body" class="active">
            <nav class="navbar navbar-expand-lg navbar-light bg-lightblue">
                <div class="container-fluid">

                    <button type="button" id="slidesidebar" class="ui icon button btn-light-outline">
                        <i class="ui icon bars"></i> Menu
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto navmenu">
                            <li class="nav-item">
                                <div class="ui pointing link dropdown item" tabindex="0">
                                    <i class="ui icon th"></i> Quick Access
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <a href="../../employees-new.html" class="item">
                                            <i class="ui icon user plus"></i> Add Employee</a>
                                        <a href="../../clock.html" target="_blank" class="item">
                                            <i class="ui icon clock outline"></i> Clock In/Out</a>
                                        <div class="divider"></div>
                                        <a href="../../fields/company.html" class="item">
                                            <i class="ui icon university"></i> Company</a>
                                        <a href="../../fields/department.html" class="item">
                                            <i class="ui icon cubes"></i> Department</a>
                                        <a href="../../fields/jobtitle.html" class="item">
                                            <i class="ui icon pencil alternate"></i> Job Title</a>
                                        <a href="../../fields/leavetype.html" class="item">
                                            <i class="ui icon calendar alternate outline"></i> Leave Type</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="ui pointing link dropdown item" tabindex="0">
                                    <i class="ui icon user outline"></i>Demo Manager
                                    <i class="dropdown icon"></i>
                                    <div class="menu" tabindex="-1">
                                        <a href="../../update-user.html" class="item">
                                            <i class="ui icon user"></i> Update User</a>
                                        <a href="../../change-password.html" class="item">
                                            <i class="ui icon lock"></i> Change Password</a>
                                        <a href="../../personal/dashboard.html" target="_blank" class="item">
                                            <i class="ui icon sign-in"></i> Switch to MyAccount</a>
                                        <div class="divider"></div>
                                        <a href="../../login.html" class="item">
                                            <i class="ui icon power"></i> Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">

                <!-- @yield('content') -->
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h2 class="page-title">Employee Profile
                                <a href="../../employees.html" class="ui basic blue button mini offsettop5 float-right">
                                    <i class="ui icon chevron left"></i>Return</a>
                            </h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 float-left">
                            <div class="box box-success">
                                <div class="box-body employee-info">
                                    <div class="author">
                                        <img class="avatar border-white" src="../../assets/images/faces/default_user.jpg" alt="profile photo">
                                    </div>
                                    <p class="description text-center">
                                    </p>
                                    <h4 class="title"> MIA BROWN </h4>
                                    <table style="width: 100%" class="profile-tbl">
                                        <tbody>
                                            <tr>
                                                <td>Email</td>
                                                <td>
                                                    <span class="p_value"> brownmia@gmail.com </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Mobile No.</td>
                                                <td>
                                                    <span class="p_value"> </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>ID No.</td>
                                                <td>
                                                    <span class="p_value"> 110302 </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 float-left">
                            <div class="box box-success">
                                <div class="box-header with-border">Personal Infomation</div>
                                <div class="box-body employee-info">
                                    <table class="tablelist">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p>Civil Status</p>
                                                </td>
                                                <td>
                                                    <p> MARRIED </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Age</p>
                                                </td>
                                                <td>
                                                    <p> 23 </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Height
                                                        <span class="help">(cm)</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Weight
                                                        <span class="help">(pounds)</span>
                                                    </p>
                                                </td>
                                                <td>
                                                    <p> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Gender</p>
                                                </td>
                                                <td>
                                                    <p> FEMALE </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date of Birth</p>
                                                </td>
                                                <td>
                                                    <p> 11/24/1987 </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Place of Birth</p>
                                                </td>
                                                <td>
                                                    <p> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Home Address</p>
                                                </td>
                                                <td>
                                                    <p> </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <h4 class="ui dividing header">Designation</h4>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Company</td>
                                                <td> APPLE HOLDINGS CORP </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Department</p>
                                                </td>
                                                <td>
                                                    <p> ADMIN OFFICES </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Position</td>
                                                <td> ACCOUNTANT I </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Employment Type</p>
                                                </td>
                                                <td>
                                                    <p> Regular </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Employement Status</p>
                                                </td>
                                                <td>
                                                    <p> Active </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Official Start Date</p>
                                                </td>
                                                <td>
                                                    <p> 10/27/2008 </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p>Date Regularized</p>
                                                </td>
                                                <td>
                                                    <p> 01/02/2018 </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end of row -->
                </div>
            </div>

        </div>
    </div>

    <script src="../../assets/vendor/jquery/jquery-3.3.1.min.js"></script>
    <script src="../../assets/vendor/bootstrap/js/bootstrap.min.v4.1.3.js"></script>
    <script src="../../assets/vendor/semantic-ui/semantic.min.js"></script>
    <script src="../../assets/js/bootstrap-notify.js"></script>
    <script src="../../assets/js/script.js"></script>

    <!-- @yield('scripts') -->

</body>

</html>